<tr>
  <td class="p-8 text-center text-gray-600 text-xs">
    <p class="m-0 mb-4 uppercase">Powered by Maizzle</p>
    <p class="m-0 italic">Quickly build HTML emails with utility-first CSS</p>
    <p class="m-0">
      <a href="https://maizzle.com/docs/" class="text-blue-500 [text-decoration:none] hover:[text-decoration:underline]">Docs</a> &bull;
      <a href="https://github.com/maizzle" class="text-blue-500 [text-decoration:none] hover:[text-decoration:underline]">Github</a> &bull;
      <a href="https://twitter.com/maizzlejs" class="text-blue-500 [text-decoration:none] hover:[text-decoration:underline]">Twitter</a>
    </p>
  </td>
</tr>
